main ul {
    display: grid;
    grid-template-columns: 200px;
}
 
/*
 * media queries similar to the ones below are required to ensure
 * no more than 2 and 3 columns are displayed; acutal dimensions may vary
 * depending on size of largest images
 */

@media screen and (min-width: 540px) {
    main ul {
        grid-template-columns: 260px 260px;
    }
}

@media screen and (min-width: 810px) {
    main ul {
        grid-template-columns: 260px 260px 260px;
    }
}
