header {
    background-color: #c14242;
}

nav {
    background-color: #3fbfbf;
}

main {
    background-color: #bf7f3f;
    display: grid;
}

main {
    grid-template-columns: 300px 300px 300px;
}

@media (max-width: 1000px) {
    main {
        grid-template-columns: 300px 300px;
    }
}



article {
    margin: 10px;
    padding: 10px;
    background-color: #bfbf3f;
}

footer {
    clear: both;
    background-color: #7fbf3f;
}

main > div {
    clear: both;
}
