header {
    background-color: #c14242;
}

nav {
    background-color: #3fbfbf;
}

main {

    background-color: #bf7f3f;
}

article {
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: #bfbf3f;
    float: left;
}

footer {
    background-color: #7fbf3f;
}
