header {
    background-color: #c14242;
}

nav {
    background-color: #3fbfbf;
}

main {
    width: 1100px;
    margin: auto;
    background-color: #bf7f3f;
    display: flex;
}

article {
    margin: 10px;
    padding: 10px;
    background-color: #bfbf3f;
}

footer {
    clear: both;
    background-color: #7fbf3f;
}

main > div {
    clear: both;
}
